[submodule "lib/seen-gen-js"]
	path = lib/seen-gen-js
	url = https://github.com/abukhadra/seen-gen-js
[submodule "lib/seen-gen-html"]
	path = lib/seen-gen-html
	url = https://github.com/abukhadra/seen-gen-html
